body{
	margin:30px;
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	background-color:oldlace;
}
button.button1{
	width:100px;
}
input.text1{
	width:150px;
}